<a href="/settings">
    <img src="/images/settings.png" alt="settings" class="settings"/>
</a>
<a href="/menu">
    <img src="/images/logo.png" alt="logo" class="logo"/>
</a>
<div class="profile">
    {% if player is not defined %}
        <a href="{{ path('register') }}">
            <div class="profile">
                <p class="profile__nickname">{{player.user.login ?? 'славянин'}}</p>
                <img src="../uploads/{{player.getAvatar() ?? "avatar-placeholder.png"}}" alt="avatar" class="profile__avatar">
            </div>
        </a>
    {% else %}
        <div class="profile">
            <p class="profile__nickname">{{player.user.login ?? 'славянин'}}</p>
            <img src="../uploads/{{player.getAvatar() ?? "avatar-placeholder.png"}}" alt="avatar" class="profile__avatar">
        </div>
    {% endif %}
</div>