<div class="user-profile">
    <div class="user-profile__header">
        <div class="user-profile__player">
            <img src="../uploads/{{player.getAvatar() ?? "avatar-placeholder.png"}}" alt="avatar" class="profile__avatar">
            <p class="profile__nickname">{{player.login ?? 'славянин'}}</p>
        </div>
        <div class="user-profile__exit">
            <button class="exit">Выйти</button>
            {% if player is not defined %}
                <a class="full-profile" href="/">Профиль</a>
            {% else %}
                <a class="full-profile" href="/profile/{{player.login}}">Profile</a>
            {% endif %}
        </div>  
    </div>
    <div class="statistics">
        <div class="maximum-score">
            <p class="statistics__text score">максимум очков</p>
            <div class="line"></div>
            <p>{{player.statistics.winCount ?? '0'}}</p>
        </div>
        <div class="count-win">
            <p class="statistics__text vincount">всего побед</p>
            <div class="line"></div>
            <p>{{player.statistics.winCount ?? '0'}}</p>
        </div>
        <div class="count-game">
            <p class="statistics__text countgame">всего игр</p>
            <div class="line"></div>
            <p>{{player.statistics.gameCount ?? '0'}}</p>
        </div>               
    </div>
</div>