{% extends "base.html.twig" %}

{% block title %}
	Menu
{% endblock %}
{% block style %}
	<link rel="stylesheet" href="/css/settings.css">
{% endblock %}
{% block content %}
	<div class="header">
        <a href="/">
            <img src="/images/home.png" alt="menu" class="menu-img"/>
        </a>
        <a href="/menu">
		    <img src="/images/logo.png" alt="logo" class="logo"/>
        </a>
		<div class="profile">
			{% if player is not defined %}
				<a href="{{ path('register') }}">
					<div class="profile">
						<p class="profile__nickname">{{player.user.login ?? 'славянин'}}</p>
						<img src="../uploads/{{player.getAvatar() ?? "avatar-placeholder.png"}}" alt="avatar" class="profile__avatar">
					</div>
				</a>
			{% else %}
				<div class="profile">
					<p class="profile__nickname">{{player.user.login ?? 'славянин'}}</p>
					<img src="../uploads/{{player.getAvatar() ?? "avatar-placeholder.png"}}" alt="avatar" class="profile__avatar">
				</div>
			{% endif %}
		</div>
	</div>
    <main>
        <div class="settings">
            <div class="settings__item-language">
                <p class="item__title language">Выбор языка</p>
                <p class="item__description language">Выбери нужный язык из предложенных</p>
            </div> 
            <div class="settings__item-bg">
                <p class="item__title bg">Выбор фона</p>
                <p class="item__description bg">Выбери фон, который понравится именно тебе</p>
            </div> 
        </div>
        <div class="list-settings">
            <div class="menu-settings">
            </div>
        </div>
    </main>
    <script src="/js/change_setting.js"></script>
{% endblock %}