<!doctype html>
<html lang="ru">
<head>
    <title>Document</title>
</head>
<body>
{{ form_start(form) }}
{{ form_label(form.login) }}
{{ form_widget(form.login) }}
{{ form_label(form.password) }}
{{ form_widget(form.password) }}
{{ form_end(form) }}
</body>
</html>